body
  background-color: #f8f9fa
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.App
  text-align: center

.App-header
  background-color: #282c34
  min-height: 10vh
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  color: white
  padding: 1rem 0

  h1
    color: #fff
    margin: 0

.main-container
  min-height: 90vh

.container-fluid
  min-height: auto

.container-title
  font-size: 2rem
  font-weight: bold
  margin-bottom: 1.5rem
  text-align: center

.card-title
  font-weight: bold
  font-size: 1.2rem
  margin-bottom: 1rem

.card-link
  font-weight: bold

.data-card
  transition: transform 0.3s

  &:hover
    transform: scale(1.05)
    cursor: pointer

.explanation
  font-family: 'Roboto', sans-serif
  font-size: 1.1rem
  font-weight: 400
  line-height: 1.6
  margin-top: 2rem
  text-align: justify
  color: #333
  background-color: #f8f9fa
  padding: 20px
  border-radius: 10px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

.main-image-container
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

.webscrape-image
  max-width: 100%
  height: auto
