body {
  background-color: #f8f9fa;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem 0;
}

.App-header h1 {
  color: #fff;
  margin: 0;
}

.container-fluid {
  min-height: 100vh;
}

.container-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card-link {
  font-weight: bold;
}

.data-card {
  transition: transform 0.3s;
}

.data-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

